<div class="action-status">
  <input type="checkbox" name="{{id}}-action-completed" id="{{id}}-action-completed" class="action-completed">
  <label for="{{id}}-action-completed"></label>
</div>
<div class="action-info">
  <input type="text" value="{{name}}" name="action-name">
  <div class="action-atts">
    <div class="edit-notes"><i class="fa fa-2x fa-pencil-square-o"></i></div>
    <input type="text" value="{{project_id}}" class="action-project">
    {{!-- <input type="text" value="{{context}}" name="action-context"> --}}
    {{!-- <input type="text" value="{{due}}" name="action-due"> --}}
  </div>
  <div class="action-notes">
    <textarea id="action-notes" rows="3">{{notes}}</textarea>
  </div>
</div>
