<div class="status">
  <input type="checkbox" name="{{id}}-completed" id="{{id}}-completed" class="completed">
  <label for="{{id}}-completed"></label>
</div>
<div class="info">
  <input type="text" value="{{name}}" class="name">
  <div class="attributes">
    <div class="edit-notes"><i class="fa fa-2x fa-pencil-square-o"></i></div>
    <input type="text" value="{{context_id}}" class="context-id">
    <input type="text" value="{{due}}" class="due">
  </div>
  <div class="attachments">
    <textarea class="notes" rows="3">{{notes}}</textarea>
  </div>
</div>
