<div class="project-status">
  <input type="checkbox" name="{{id}}-project-completed" id="{{id}}-project-completed" class="project-completed">
  <label for="{{id}}-project-completed"></label>
</div>
<div class="project-info">
  <input type="text" value="{{name}}" name="project-name">
  <div class="project-atts">
    <div class="edit-notes"><i class="fa fa-2x fa-pencil-square-o"></i></div>
    {{!-- <input type="text" value="{{context}}" name="project-context"> --}}
    <input type="text" value="{{due}}" name="project-due">
  </div>
  <div class="project-notes">
    <textarea id="project-notes" rows="3">{{notes}}</textarea>
  </div>
</div>
